// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

$normal-font-weight: 400;

$sans: "Ideal Sans SSm A", "Ideal Sans SSm B", sans-serif;
$serif: "Ideal Sans SSm A", "Ideal Sans SSm B", sans-serif;

$mono: "Oxygen Mono", monospace;
$mono-font-weight: 300;

$meta: "Hoefler Titling A", "Hoefler Titling B", serif;
$meta-weight: 300;
$meta-style: italic;

$heading-font-family: "Hoefler Titling A", "Hoefler Titling B", serif;
$heading-font-weight: 300;
$header-title-font-family: "Hoefler Titling A", "Hoefler Titling B", serif;
$header-title-font-weight: 700;
$header-subtitle-font-family: "Archivo Black", sans-serif;
